.cards {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    grid-auto-rows: auto;
    grid-gap: 1rem;
    background-color: var(--color-page-background);
    color: var(--color-text);
}

.card {
    border: 2px solid var(--color-text);
    border-radius: 4px;
    padding: 0.5rem;
    margin-left: 10px;
}

.imageCard{
    width: 100%;
}
